<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入属性文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置连接池 c3p0-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--配置H-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!--注入连接池-->\
        <property name="dataSource" value="dataSource"/>
        <!--配置H的属性-->
        <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
               <prop key="hibernate.show_sql">true</prop>
               <prop key="hibernate.format_sql">true</prop>
               <prop key="hibernate.hbm2ddl.auto">update</prop>
           </props>
        </property>

        <property name="mappingResources">
            <list>
                <value>domain/Product.hbm.xml</value>
            </list>
        </property>
    </bean>

    <!--Action-->
    <!--多例-->
    <bean id="productAction" class="action.ProductAction" scope="prototype">
        <!--手动注入service-->
        <property name="productService" ref="produceService"/>
    </bean>

    <!--Service-->
    <bean id="produceService" class="service.ProductService">
        <property name="productDao" ref="productDao"/>
    </bean>

    <!--Dao-->
    <bean id="productDao" class="dao.ProductDao">

    </bean>
</beans>